body{
    margin:0;
    padding:0;
    background-color:#29102E;
    font-family: arial, cursive;
  }
  .pad{
    transform:scale(0.9)
  }
  .color{
    background-color:#B87D95;
    color:#000;
  }
  .calc{
    width:350px;
    height:400px;
    margin:100px auto;
    background-color:#eee;
    border:solid 2px #000;
  }
  #display{
    width:95%;
    height:60px;
    margin:10px auto;
    line-height:60px;
    text-align:right;
    box-sizing:border-box;
    font-size:25px;
    padding:0 10px;
    border-radius:5px;
    background-color:rgb(37, 37, 37);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color:#fff;
  }
  .btn-wrap{
    width:85%;
    height:200px;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
  }
  
  .btn{
    width:50px;
    height:50px;
    background-color:#4D2A4F;
    border-radius:3px;
    line-height:50px;
    font-size:25px;
    text-align:center;
    cursor:pointer;
    margin:auto;
    color:#fff;
  }
  .c-btn{
    width:100px;
    margin: 50px auto;
    height:50px;
    background-color:#DDA8B5;
    border-radius:2px;
    border:solid 1px;
    line-height:50px;
    font-size:25px;
    text-align:center;
    cursor:pointer;
  }